In [1]:
import pandas as pd 
df = pd.read_csv('general_data.csv')
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
df1 = pd.read_excel('att_yes.xlsx',sheet_name=0)
df2 = pd.read_excel('att_yes.xlsx',sheet_name=1)

In [4]:
df1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
1,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
2,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
3,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
4,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [5]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
2,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
3,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
4,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

# Mannwhitneyu Test

In [7]:
from scipy.stats import mannwhitneyu

#### Attrition V/s Monthly Income

In [8]:
stats,p = mannwhitneyu(df1.MonthlyIncome,df2.MonthlyIncome)
print(stats,p)

1264900.5 0.053577283839938566

#### Attrition V/s Years At Company

In [9]:
stats,p = mannwhitneyu(df1.YearsAtCompany,df2.YearsAtCompany)
print(stats,p)

923238.0 6.047598261692858e-37

#### Attrition V/s YearsWithCurrManager

In [10]:
stats,p = mannwhitneyu(df1.YearsWithCurrManager,df2.YearsWithCurrManager)
print(stats,p)

957253.5 1.2365483142169853e-31

#### Attrition V/s Total Working Years

In [11]:
stats,p = mannwhitneyu(df1.TotalWorkingYears,df2.TotalWorkingYears)
print(stats,p)

909954.0 2.8897554531400447e-39

#### Attrition V/s Distance From Home

In [12]:
stats,p = mannwhitneyu(df1.DistanceFromHome,df2.DistanceFromHome)
print(stats,p)

1312110.0 0.4629185205822659

#### Attrition V/s BusinessTravel

In [13]:
stats,p = mannwhitneyu(df1.BusinessTravel,df2.BusinessTravel)
print(stats,p)

1266192.0 0.024442388462694316

#### Attrition V/s Department

In [14]:
stats,p = mannwhitneyu(df1.Department,df2.Department)
print(stats,p)

1243183.5 0.0027584840572994446

#### Attrition V/s Education

In [15]:
stats,p = mannwhitneyu(df1.Education,df2.Education)
print(stats,p)

1280146.5 0.12035477215449608

#### Attrition V/s TrainingTimesLastYear

In [16]:
stats,p = mannwhitneyu(df1.TrainingTimesLastYear,df2.TrainingTimesLastYear)
print(stats,p)

1238940.0 0.005167954938699059

#### Attrition V/s Education Field

In [17]:
stats,p = mannwhitneyu(df1.EducationField,df2.EducationField)
print(stats,p)

1206328.5 0.0001114613326946958

#### Attrition V/s Age

In [18]:
stats,p = mannwhitneyu(df1.Age,df2.Age)
print(stats,p)

961731.0 2.9951588479067175e-30

#### Attrition V/s Gender

In [19]:
stats,p = mannwhitneyu(df1.Gender,df2.Gender)
print(stats,p)

1283242.5 0.11439304195948907

#### Attrition V/s JobLevel

In [20]:
stats,p = mannwhitneyu(df1.JobLevel,df2.JobLevel)
print(stats,p)

1309131.0 0.4211326530832555

#### Attrition V/s Job Role

In [21]:
stats,p = mannwhitneyu(df1.JobRole,df2.JobRole)
print(stats,p)

1271367.0 0.07748676434031176

#### Attrition V/s MaritalStatus

In [22]:
stats,p = mannwhitneyu(df1.MaritalStatus,df2.MaritalStatus)
print(stats,p)

998784.0 2.834595383665665e-28

#### Attrition V/s NumCompaniesWorked

In [23]:
stats,p = mannwhitneyu(df1.NumCompaniesWorked,df2.NumCompaniesWorked)
print(stats,p)

1255531.5 0.02488087998120482

#### Attrition V/s PercentSalaryHike

In [24]:
stats,p = mannwhitneyu(df1.PercentSalaryHike,df2.PercentSalaryHike)
print(stats,p)

1250640.0 0.018660129917539733

#### Attrition V/s StockOptionLevel

In [25]:
stats,p = mannwhitneyu(df1.StockOptionLevel,df2.StockOptionLevel)
print(stats,p)

1296846.0 0.2636805975678432

#### Attrition V/s YearsSinceLastPromotion

In [27]:
stats,p = mannwhitneyu(df1.YearsSinceLastPromotion,df2.YearsSinceLastPromotion)
print(stats,p)

1209366.0 0.0002021180346719736

## Inference : 
<hr>

By Applying mannwhitneyu Test , We conclude the following things:

* There is **No Significant Difference** in DistanceFromHome, Education, Gender, JobLevel, JobRole, MaritalStatus, StockOptionLevel between Attrition(Yes) and Attrition(No) as its **p value > 0.05** , 

So the Null Hypothesis is accepted and Alternative Hypothesis is rejected. 

* Rest all the columns have **p value < 0.05** 

So The Null hypothesis is rejected and Alternative Hypothesis is accepted (There is Significant Difference )
<hr>

## Two Sample Independent t test

In [28]:
from scipy.stats import ttest_ind

#### Attrition V/s DistanceFromHome

In [29]:
stats,p = ttest_ind(df1.DistanceFromHome,df2.DistanceFromHome)
print(stats,p)

-0.6460416038042738 0.518286042805572

#### Attrition V/s TotalWorkingYears

In [32]:
stats,p = ttest_ind(df1.TotalWorkingYears,df2.TotalWorkingYears)
print(stats,p)

nan nan

#### Attrition V/s StockOptionLevel

In [33]:
stats,p = ttest_ind(df1.StockOptionLevel,df2.StockOptionLevel)
print(stats,p)

-0.45406097771582266 0.6498072937482536

#### Attrition V/s YearsWithCurrManager

In [36]:
stats,p = ttest_ind(df1.YearsWithCurrManager,df2.YearsWithCurrManager)
print(stats,p)

-10.499379408703438 1.7339322652918153e-25

#### Attrition V/s YearsAtCompany

In [37]:
stats,p = ttest_ind(df1.YearsAtCompany,df2.YearsAtCompany)
print(stats,p)

-9.004357011787226 3.163883122491456e-19

#### Attrition V/s MonthlyIncome

In [38]:
stats,p = ttest_ind(df1.MonthlyIncome,df2.MonthlyIncome)
print(stats,p)

-2.0708863763619316 0.03842748490605113

#### Attrition V/s Age

In [39]:
stats,p = ttest_ind(df1.Age,df2.Age)
print(stats,p)

-10.70661860061757 1.9968016158894556e-26

#### Attrition V/s Education

In [40]:
stats,p = ttest_ind(df1.Education,df2.Education)
print(stats,p)

-1.003386859630148 0.3157293177122392

#### Attrition V/s EmployeeID

In [41]:
stats,p = ttest_ind(df1.EmployeeID,df2.EmployeeID)
print(stats,p)

-0.3139830896533784 0.7535487401894094

#### Attrition V/s JobLevel

In [42]:
stats,p = ttest_ind(df1.JobLevel,df2.JobLevel)
print(stats,p)

-0.6831987436544922 0.4945171727187496

#### Attrition V/s NumCompaniesWorked

In [43]:
stats,p = ttest_ind(df1.NumCompaniesWorked,df2.NumCompaniesWorked)
print(stats,p)

nan nan

#### Attrition V/s PercentSalaryHike

In [44]:
stats,p = ttest_ind(df1.PercentSalaryHike,df2.PercentSalaryHike)
print(stats,p)

2.1610730224641777 0.03074338643339195

#### Attrition V/s TrainingTimesLastYear

In [45]:
stats,p = ttest_ind(df1.TrainingTimesLastYear,df2.TrainingTimesLastYear)
print(stats,p)

-3.2858496615530743 0.0010247061915374478

#### Attrition V/s YearsSinceLastPromotion

In [46]:
stats,p = ttest_ind(df1.YearsSinceLastPromotion,df2.YearsSinceLastPromotion)
print(stats,p)

-2.1934039604328843 0.028330336189428353

## Inference : 
<hr>

By Applying mannwhitneyu Test , We conclude the following things:

* There is **No Significant Difference** in DistanceFromHome, Education, Employee ID ,NumCompaniesWorked, StockOptionLevel, TotalWorkingYears  between Attrition(Yes) and Attrition(No) as its **p value > 0.05** , 

So the Null Hypothesis is accepted and Alternative Hypothesis is rejected. 

* Rest all the columns have **p value < 0.05** 

So The Null hypothesis is rejected and Alternative Hypothesis is accepted ( There is Significant Difference )
<hr>

## Chi_Square Test

In [48]:
from scipy.stats import chi2_contingency

#### Attrition V/s Department

In [49]:
chitable = pd.crosstab(df.Attrition, df.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [50]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

29.090274924488266 4.820888218170406e-07

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in Department and Attrition**

#### Attrition V/s BusinessTravel

Ho : There is No Significant Difference in BusinessTravel and Attrition

H1 : There is Significant Difference in  BusinessTravel and Attrition

In [51]:
chitable2 = pd.crosstab(df.Attrition, df.BusinessTravel)
chitable2

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [52]:
stats,p,dof,expected = chi2_contingency(chitable2)
print(stats,p)

72.54724105696552 1.764276972983189e-16

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in BusinessTravel and Attrition**

#### Attrition V/s EducationField

Ho : There is No Significant Difference in  EducationField and Attrition

H1 : There is Significant Difference in EducationField and Attrition

In [54]:
chitable3 = pd.crosstab(df.Attrition, df.EducationField)
chitable3

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1515,402,1167,216,351
Yes,33,303,75,225,30,45

In [55]:
stats,p,dof,expected = chi2_contingency(chitable3)
print(stats,p)

46.194921001730584 8.288917469574179e-09

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in EducationField and Attrition**

#### Attrition V/s Gender

Ho : There is No Significant Difference in Gender and Attrition

H1 : There is Significant Difference in Gender and Attrition

In [56]:
chitable4 = pd.crosstab(df.Attrition, df.Gender)
chitable4

Gender     Female  Male
Attrition
No           1494  2205
Yes           270   441

In [57]:
stats,p,dof,expected = chi2_contingency(chitable4)
print(stats,p)

1.349904410246582 0.24529482862926827

* As p value > 0.05 ,

So Null hypothesis is accepted and Alternative hypothesis is rejected ie, **There is No Significant Difference in Gender and Attrition**

#### Attrition V/s JobRole

Ho : There is No Significant Difference in JobRole and Attrition

H1 : There is Significant Difference in JobRole and Attrition

In [58]:
chitable5 = pd.crosstab(df.Attrition, df.JobRole)
chitable5

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
No,336,135,651,264,387,183,717,813,213
Yes,57,21,126,42,48,57,159,165,36

In [60]:
stats,p,dof,expected = chi2_contingency(chitable5)
print(stats,p)

25.116313674604072 0.001485544744815264

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in JobRole and Attrition**

#### Attrition V/s MaritalStatus

Ho : There is No Significant Difference in MaritalStatus and Attrition

H1 : There is Significant Difference in MaritalStatus and Attrition

In [61]:
chitable5 = pd.crosstab(df.Attrition, df.MaritalStatus)
chitable5

MaritalStatus  Divorced  Married  Single
Attrition
No                  882     1767    1050
Yes                  99      252     360

In [62]:
stats,p,dof,expected = chi2_contingency(chitable5)
print(stats,p)

138.49102962254608 8.45385940605786e-31

* As p value < 0.05 ,

So Null hypothesis is rejected and Alternative hypothesis is accepted ie, **There is Significant Difference in MaritalStatus and Attrition**